
build/
build-*/
cmake-build-*/
cmake-build-debug/

.idea/
.vscode/
*.user
*.suo
*.opendb
*.db

vcpkg_installed/
vcpkg.exe
vcpkg
!vcpkg.json

*.log
*.ninja
.DS_Store

*.json
!vcpkg.json
!compile_commands.json

doc/html/
doc/latex/